body {
  text-align: center;
  background-color: #110b50;
  font-family: 'Montserrat', sans-serif;
}

rect {
  fill: #500b0b;
}

rect:hover {
  fill: #8b1414;
}

svg {
  margin-left: 30px;
}

#tooltip {
  position: absolute;
  background-color: #ffffff;
  height: 40px;
  width: 160px;
  visibility: hidden;
  padding: 10px;
}

#page {
  padding-top: 15px;
  background-color: #ffffff;
  margin-right: 50px;
  margin-left: 50px;
}